{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}Well Page | Informations about wells{% endblock %}

{% block content %}
    {% include "WellProject/_nav.html" %}
    <div class="main">
        <div class="buttons">
            <h3>Folders</h3>
            <div class="content-center">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="button-upload">
                        <label for="formFileMultiple" class="form-label btn-click-upload" name="upload-files">Load files</label>
                        <input class="form-control form-control-sm" type="file" multiple id="formFileMultiple" name="uploadfiles" hidden onchange="this.form.submit()">
                    </div>
                </form>
            </div>
        </div>
        <div class="first">
            <h3>Wells</h3>
        </div>
        <div class="second">
            <h3>Coordinates</h3>
        </div>
        <div id="multi"></div>
    </div>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script type="text/javascript">
        var alldatas = {{ data|safe }};
    </script>
    <script src="{% static 'js/d3_script.js' %}"></script>

{% endblock %}