{% extends 'layouts/base.html' %}

{% block title %}Well | {{well.name}}{% endblock %}

{% block content %}
    <h2>Show well #{{well.id}} details</h2>
    <h3>Well ID = {{well.id}} - Name: {{well.name}}</h3><br>
    <h3>** Coordinates **</h3>
    <div style="margin-left:10px">
        <table>
            <tr>
                <th>X</th>
                <th>Y</th>
                <th>Z</th>
            </tr>
            {% for x, y, z in coords %}
            <tr>
                <td>{{ x }}</td>
                <td>{{ y }}</td>
                <td>{{ z }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <hr>

    <p><a href="{% url 'index' %}">All Wells</a></p>
{% endblock %}